<footer>
  <div class="cta flex h-full">
    <img src="/assets/svgs/Let's Talk.svg" alt="" srcset="" />
  </div>
  <div
    class="footer-content section-padding justify-space-between gap-4rem row"
  >
    <ul class="flex direction-column gap-1rem">
      <li>
        <a href="/services.html">Services </a>
      </li>
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/products.html">Products</a>
      </li>
      <li>
        <a href="/insights.html">Insights</a>
      </li>
      <li><a href="/products.html">Product Integration</a></li>
      <li><a href="/client-success.html">Clients</a></li>
      <li>
        <a href="/" class="logo">
          <img src="/assets/svgs/Logo-dark-blue.svg" alt="Linetop UK Logo" />
        </a>
      </li>
    </ul>
    <div class="col gap-1rem justify-space-between flex direction-column">
      <div class="flex direction-column">
        <a class="flex align-center gap-1rem" href="tel:+4809982208"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="#003c97"
              d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24c1.12.37 2.33.57 3.57.57c.55 0 1 .45 1 1V20c0 .55-.45 1-1 1c-9.39 0-17-7.61-17-17c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z"
            />
          </svg>
          <span class="text-primary fs-md">480.998.2208</span></a
        >
        <span class="email fs-md text-primary"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="#003c97"
              d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2m0 4l-8 5l-8-5V6l8 5l8-5z"
            />
          </svg>
          service@linetop.co.uk</span
        >
      </div>
      <p class="fs-sm text-light">
        Linetop UK<br />
        Newport,<br />
        Wales, CFXX 2XX<br />
        ©2024 Linetop Counters Private Limited®<br />
      </p>
      <a class="text-primary" href="privacy-policy.html">Privacy policy</a>
    </div>
  </div>
</footer>
