<nav class="navbar padding-left-right flex">
  <a href="/" class="logo">
    <img
      src="/assets/svgs/Logo-dark-blue.svg"
      alt="Linetop UK Logo"
      width="80"
    />
  </a>

  <div class="flex align-center gap-2rem">
    <ul class="nav-links list-style-none flex gap-2rem">
      <li>
        <a href="/services.html">Services </a>
      </li>
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/products.html">Products</a>
      </li>
      <li class="has-dropdown">
        <a href="insights.html" aria-haspopup="true" aria-expanded="false"
          >Insights</a
        >
        <img
          src="/assets/svgs/mingcute--down-line.svg"
          width="24"
          alt="dropdown"
        />

        <!-- Accessible dropdown shown on hover and focus-within -->
        <ul
          class="nav-dropdown list-style-none"
          role="menu"
          aria-label="Insights menu"
        >
          <li role="none">
            <a role="menuitem" href="/insights.html#choice-of-location"
              >Choice of location</a
            >
          </li>
          <li role="none">
            <a role="menuitem" href="/insights.html#anatomy-of-visitor-counters"
              >Anatomy of visitor counters</a
            >
          </li>
          <li role="none">
            <a role="menuitem" href="/insights.html#data-handling"
              >Data handling with Linetop</a
            >
          </li>
        </ul>
      </li>
      <li><a href="/product-integration.html">Product Integration</a></li>
      <li><a href="/client-success.html">Clients</a></li>
    </ul>
    <button class="btn-primary">
      <a href="/contact.html">• Request a demo</a>
    </button>
    <span class="mobile-menu">Menu</span>
  </div>
</nav>
