<div class="carousel-images flex align-center">
  <!-- Original set -->
  <img
    src="/assets/images/client:partners/national trust.webp"
    alt="National Trust Logo"
  />
  <img src="/assets/images/client:partners/RSPB_logo (2).png" alt="RSPB Logo" />
  <img
    src="/assets/images/client:partners/Forestry-Commission@2x-850x0-c-default.png"
    alt="Forestry Commission Logo"
  />
  <img
    src="/assets/images/client:partners/NRW_logo.svg"
    alt="Natural Resources Wales Logo"
  />
  <img
    src="/assets/images/client:partners/cadw-logo-nov-2022.png"
    alt="Cadw Logo"
  />
  <img
    src="/assets/images/client:partners/english-heritage.webp"
    alt="English Heritage Logo"
  />
  <img
    src="/assets/images/client:partners/natural england.png"
    alt="Natural England Logo"
  />
  <img
    src="/assets/images/client:partners/woodland trust logo.png"
    alt="Woodland Trust Logo"
  />
  <img
    src="/assets/images/client:partners/WTrusts_logo-675x730.webp"
    alt="Wildlife Trusts Logo"
  />

  <!-- Cloned set for seamless loop -->
  <img
    src="/assets/images/client:partners/national trust.webp"
    alt="National Trust Logo"
  />
  <img src="/assets/images/client:partners/RSPB_logo (2).png" alt="RSPB Logo" />
  <img
    src="/assets/images/client:partners/Forestry-Commission@2x-850x0-c-default.png"
    alt="Forestry Commission Logo"
  />
  <img
    src="/assets/images/client:partners/NRW_logo.svg"
    alt="Natural Resources Wales Logo"
  />
  <img
    src="/assets/images/client:partners/cadw-logo-nov-2022.png"
    alt="Cadw Logo"
  />
  <img
    src="/assets/images/client:partners/english-heritage.webp"
    alt="English Heritage Logo"
  />
  <img
    src="/assets/images/client:partners/natural england.png"
    alt="Natural England Logo"
  />
  <img
    src="/assets/images/client:partners/woodland trust logo.png"
    alt="Woodland Trust Logo"
  />
  <img
    src="/assets/images/client:partners/WTrusts_logo-675x730.webp"
    alt="Wildlife Trusts Logo"
  />
</div>
