<div class="carousel-images">
  <!-- Original set -->
  <img src="./assets/svgs/logoipsum-398.svg" alt="foot traffic data" />
  <img src="./assets/svgs/logoipsum-398.svg" alt="foot traffic data" />
  <img src="./assets/svgs/logoipsum-398.svg" alt="foot traffic data" />
  <img src="./assets/svgs/logoipsum-398.svg" alt="foot traffic data" />
  <img src="./assets/svgs/logoipsum-398.svg" alt="foot traffic data" />
  <img src="./assets/svgs/logoipsum-398.svg" alt="foot traffic data" />

  <!-- Cloned set for seamless loop -->
  <img src="./assets/svgs/logoipsum-398.svg" alt="foot traffic data" />
  <img src="./assets/svgs/logoipsum-398.svg" alt="foot traffic data" />
  <img src="./assets/svgs/logoipsum-398.svg" alt="foot traffic data" />
  <img src="./assets/svgs/logoipsum-398.svg" alt="foot traffic data" />
  <img src="./assets/svgs/logoipsum-398.svg" alt="foot traffic data" />
  <img src="./assets/svgs/logoipsum-398.svg" alt="foot traffic data" />
</div>
